.custom {
    background-color: #ffffff;
}



.navbar-light {
  
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0s;
    height: 60px;
    font-weight: 500;
    
}


.navbar-light .navbar-brand {
    color: #5de4b4;
    padding: 12px;
    
}

.navbar-light .navbar-nav .nav-link.active {
    color: #5de4b4; 
    padding: 12px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5de4b4; 
    padding: 12px;
}   

.navbar-light .navbar-nav .nav-item {
    padding-right: 14px; 
}

.btn-sighnup .btn 
    {   
        padding-top: 100px;
        position: relative;
        font-size: 14px;
        font-weight: 700;
       
        color: rgb(92, 229, 180);
        background-color: rgb(92, 229, 180);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
        transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;   
       
    }


.btn-sighnup .btn{
    color: #ffffff;
    font-weight: 700    ;
    border-radius: 20px; 
    padding: 10px 20px;
}


/*--------------------------------Content Section------------------*/
.content-section{
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    margin: 0px;
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.paragraph{
    width: 390px;
}

.paragraph a {
    
        opacity: 1;
        transition: opacity 0.2s ease-in-out 0s;
        text-decoration: underline;
        color: #666666;
    
}
.content-section img {
    max-width: 100%; 
}

.content-section .train{
    padding-left: 20%;
    max-block-size: 100%;
}

.content-section .waves{

    align-items: center;
    justify-content: center;
    max-block-size: 100%;
}

.CallToActionstyled__Container{
    padding-top: 10%;
    padding-bottom: 25%;
    height: 500;
}

.content-section .CallToActionstyled__Container {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-weight: 500;
}


.content-section .CallToActionsty {
    text-align: center;
    min-height: 17px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin-top: 22px;
    margin-bottom: 0px;
}




.btn-sighnup-2 .btn 
    {   
        padding-top: 100px;
        position: relative;
        font-size: 14px;
        font-weight: 700;
       
        color: rgb(92, 229, 180);
        background-color: rgb(92, 229, 180);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
        transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;   
       
    }


.btn-sighnup-2 .btn{
    color: #ffffff;
    font-weight: 700    ;
    border-radius: 20px; 
    padding: 10px 20px;
}


/*----------------------Footer--------------------------*/

.footer-row {
    border-top: 1px solid #dbd9d9;
    padding-bottom: 100px; 
}   
.row{
    padding: 100px;
}
.footer-main-content{
    
    font-size: 18px;
    font-weight: 700;
    line-height: 2em;
    color: rgb(102, 102, 102);
    margin: 0px
}
.footer-content{
    font-size: 13px;
    font-weight: 500;
    line-height: 2em;
    color: rgb(102, 102, 102);
    text-decoration: none;   
}
.text-center p-5 a {
    text-decoration: none; 
}
.text-center p-5 a:hover{
    color: #4c4c4d;
    cursor: pointer;
}
.footer-content-logo{
    padding-top: 10px;  
}


